.flashcard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 80vw;
  height: 70vh;
  font-size: 1.5rem;
}

.flashcard .text-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.flashcard .text-container p {
  box-sizing: border-box;
  height: fit-content;
}

.flashcard .text-container p:hover {
  cursor: pointer;
  opacity: 0.7;
}

.flashcard .front {
  border-radius: 10px;
}

.flashcard .back {
  border-radius: 10px;
}
