.flashcard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 80vw;
  height: 70vh;
  font-size: 1.5rem;
}

.flashcard .text-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.flashcard .text-container p {
  box-sizing: border-box;
  height: fit-content;
  word-wrap: break-word;
}

.flashcard .text-container:hover {
  color: cyan;
  cursor: pointer;
  opacity: 0.7;
}

.flashcard .text-container .front {
  border-radius: 10px;
}

.flashcard .text-container .back {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .flashcard {
    border-radius: 10px;
    font-size: 0.7rem;
    width: 95vw;
  }
}
