.flashcard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 80vw;
  height: 70vh;
  font-size: 1.5rem;
}

.flashcard:hover {
  cursor: pointer;
  opacity: 0.7;
}

.flashcard p {
  border-bottom: 2px solid white;
  height: 80%;
}

.flashcard .front {
  border: 1px solid indianred;
}

.flashcard .back {
  border: 1px solid skyblue;
  border-radius: 10px;
}
