ul {
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}

li {
  border: 2px white solid;
  border-radius: 10px;
  width: 50%;
  max-height: 5vh;
  margin: 1vh 0;
  padding: 0.25rem;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.5s ease;
}
