nav {
  position: fixed;
  top: 0;
  background: transparent;
  height: 5vh;
  width: 100vw;
  z-index: 100;
}

nav figure {
  display: flex;
  flex-direction: row;
  justify-content: end;

}

nav button {
  z-index: 100;
}