nav {
  position: fixed;
  top: 0;
  background: rgba(25, 25, 25, 0.8);
  width: 100vw;
  z-index: 100;
  height: 7vh;
}

nav figure {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

nav button {
  z-index: 100;
}