* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  color: ivory;
  background: url("./img/background.jpg");
}

body::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(20, 20, 240, 0.1);
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.box {
  height: 100px;
  width: 100px;
  background: indigo;
}

.mains {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

section {
  min-height: 100vh;
}
