.module {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    width: 0%;
    height: 80%;
    opacity: 0;
    transition: all 1 ease;
}

.module p {
    font-size: 1rem;
}

.module.vis {
    width: 80%;
    opacity: 1;
    transition: all 1 ease;
}