@keyframes flip {
    from {
        transform: scaleX(0);
        opacity: 0;
    }

    to {
        transform: scaleX(1);
        opacity: 1;
    }
}

.module {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    width: 0%;
    height: 80%;
    opacity: 0;
    transition: all 1 ease;
}

.module p {
    border-radius: 5px;
    width: 90%;
    height: 90%;
    padding: 10px;
    font-size: 1.2rem;
}

.module.vis {
    animation: flip 0.3s ease-out;
    width: auto;
    opacity: 1;
    transition: all 1 ease;
}