* > * {
  text-align: center;
}

h2 {
  border-bottom: 2px dotted black;
}

label {
  font-size: 1.3rem;
}

input,
textarea {
  border: none;
  border-radius: 5px;
  padding: 3px;
}
textarea {
  height: 20vh;
}

.card-count {
  font-weight: 600;
}

.invalid {
  border: red;
  background: salmon;
  opacity: 0.9;
}

.comment {
  display: none;
  position: absolute;
  z-index: 10000;
  color: #333;
  max-width: 30vw;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  transform: scale(0);
  transition: all 1s ease;
}
