* > * {
  text-align: center;
}

h2 {
  border-bottom: 2px dotted black;
}

label {
  font-size: 1.3rem;
}

input,
textarea {
  border: none;
  border-radius: 5px;
  padding: 3px;
}
textarea {
  height: 20vh;
}
